<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="G. (Kyria) Bisch">

    <title>Eve Online Intel Search</title>

</head>

<body>

{% if not current_user.is_authenticated %}
<a href="{{ url_for('login') }}">
    <img src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&amp;h=30" alt="Log in with eveonline.com" />
</a>

{% else %}
<b>general:</b><br />

<table style="border:0px;">
    <tr>
        <td>Name:</td>
        <td>{{ char_info.name }}</td>
    </tr>
    {% if 'title' in char_info %}
    <tr>
        <td>Title:</td>
        <td>{{ char_info.title }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Corp:</td>
        <td>{{ corp_name }}</td>
    </tr>
    <tr>
        <td>Alliance:</td>
        <td>{{ alliance_name }}</td>
    </tr>
    <tr>
        <td>Security status:</td>
        <td>{{ char_info.security_status }}</td>
    </tr>
    <tr>
        <td>Birth:</td>
        <td>{{ char_info.birthday }}</td>
    </tr>
    <tr>
        <td>Bio/Description:</td>
        <td>{{ char_info.description }}</td>
    </tr>
</table>

<br /><br />
<b>Known to fly the following internet spaceships:</b><br />
{% for ship in ships %}
{{ ship }},&nbsp;
{% endfor %}

<br /><br />
<b>Has been seen in:</b><br />
{% for sys in systems %}
{{ sys }},&nbsp;
{% endfor %}

{% endif %}
